@tailwind base;
@tailwind components;
@tailwind utilities;

/* 🔥 CRITICAL FIX */
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html {
  scroll-behavior: smooth;
}